<div class="container">
  <tr>
    <td>
      <p>{{ user.nome }}</p>
    </td>
    <td>
      <p>{{ user.sobrenome }}</p>
    </td>
    <td>
      <p>{{ user.email }}</p>
    </td>
    <td>
      <p>{{ user.data }}</p>
    </td>
    <td>
      <p>{{ user.escolaridade }}</p>
    </td>
    <td>
      <div class="flex-buttons">
        <button routerLink="user/edit/{{ user.id }}">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button>
          <i
            class="bi bi-trash-fill"
            routerLink="user/remove/{{ user.id }}"
          ></i>
        </button>
      </div>
    </td>
  </tr>
</div>
