<section class="table-list">
  <div class="table-container">
    <div class="table-wrap">
      <div class="table ver1">
        <div class="table-header">
          <table>
            <thead>
              <tr class="table-header-row">
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-mail</th>
                <th>Data de nascimento</th>
                <th>Escolaridade</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="table-body scrollbar">
          <table>
            <tbody>
              <ng-container *ngFor="let user of listUser">
                <app-item-user [user]="user"></app-item-user>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
